<ol>
    <li>
    <div id="cheader">
        <span id="cauthor">
            <%=h @comment.author %>
        </span>
        <% if session[:logged_in] %>
            <%= link_to 'Edit', :controller => 'comments', :action => 'edit', :id => @comment.id %>
            <%= link_to 'Delete', :confirm => 'Are you sure?', :controller => 'comments', :action => 'destroy', :id => @comment.id %>
        <% end %>
    </div>
    <%= @comment.content -%>
    </li>
</ol>
<%= link_to 'Back', :controller => 'posts', :action => 'show', :id => @comment.post_id %>
