<ul>
    <li>Name: <%= @bid.name %></li>
    <li>Phone Number: <%= @bid.phone %></li>
    <li>Address: <%= @bid.address %></li>
    <li>Amount: $<%= @bid.amount %></li>
</ul>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
