<h1><%=h @auction.title %></h1>

<%= image_tag @auction.photo %><br />

<p><%= @auction.description %></p>

<h2>Last bid: $<%= if @bids[-1] then @bids[-1].amount else @auction.initial_bid end %></h2>

<% form_for(@bid) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :phone %> number<br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
    <input type="hidden" name="bid[auction_id]" value=<%= @auction.id %> />
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<% if session[:logged_in] then %>
    <%= link_to 'Edit Auction', edit_auction_path(@auction) %> |
    <%= link_to 'Destroy Auction', @auction, :confirm => 'Are you sure?', :method => 'destroy' %><br />
<% end %>
<%= link_to 'Go back', :action => 'index' %>
