<h1><%= @photo.title %></h1>
<%= image_tag @photo.image %><br />
<%= @photo.description %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', :controller => 'categories', :action => @photo.category_id %>
