<h1><%=h @category.title %></h1>

<div id="photos">
    <table>
        <% for x in (0..(@photos.length-1)/4) do %>
            <tr>
                <% for y in (0..4) do %>
                    <td>
                        <%= @photos[4*x+y].display_thumb if @photos[4*x+y] %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </table>
</div>
            
<% if session[:logged_in] then %>
    <%= link_to 'New Photo', :controller => 'photos', :action => 'new', :category => @category %> |
    <%= link_to 'Edit Category', edit_category_path(@category) %> |
    <%= link_to 'Delete Category', @category, :confirm => 'Are you sure?', :method => 'delete' %><br />
<% end %>
<%= link_to 'Go back', :action => 'index' %>
