<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cedar Falls High School Robotics</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <meta name="title" content="Cedar Falls High School Robotics" />
        <%= stylesheet_link_tag 'scaffold' %>
        <%= javascript_include_tag :defaults %>
    </head>
    <body>
        <div id="banner"><%= image_tag 'swart_dogs_clock.jpg', :alt 'Swartdogs'%></div>
        <div id="nav">
            <ul>
                <li><%= link_to 'Home', :controller => 'posts', :action => 'index' %></li>
                <li><%= link_to 'Calendar', :controller => 'content', :action => 'calendar' %></li>
                <li><%= link_to 'Photos', :controller => 'content', :action => 'photos' %></li>
                <li><%= link_to 'Committees', :controller => 'content', :action => 'committees' %></li>
                <li><%= link_to 'Sponsors', :controller => 'content', :action => 'sponsors' %></li>
                <li><%= link_to 'US First', :controller => 'content', :action => 'usfirst' %></li>
                <li><%= link_to 'Links', :controller => 'content', :action => 'links' %></li>
                <li><%= link_to 'Contact Us', :controller => 'content', :action => 'contact' %></li>
                <li>
                <% if session[:logged_in] then %>
                    <%= link_to 'Logout', :controller => "user", :action => "logout" %>
                <% else %>
                    <%= link_to 'Login', :controller => "user", :action => "login" %>
                <% end %>
                </li>
            </ul>
        </div>
        <div id="postcontainer">
            <br />
            <%= yield%>
            <br />
        </div>
        <div id="footer">
            <a title="CFHS" href="http://www.cedar-falls.k12.ia.us/Buildings/CFHS/cfhigh.html"><%= image_tag 'cfhs.jpg', :alt => 'CFHS' %></a>
            <a title="US First" href="http://www.usfirst.org/" target="_blank"><%= image_tag 'fr_logo.gif', :alt => 'FIRST'%></a>
        </div>
    </body>
</html>
